<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.c.mapper.dataopen.AppSqlGroupMapper">
    <resultMap id="BaseResultMap" type="org.zmz.c.pojo.dataopen.AppSqlGroup">
        <id column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
        <result column="status_cd" jdbcType="VARCHAR" property="statusCd"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
    </resultMap>
</mapper>