<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.security.mapper.pgsql.hrdb.PgSQLObjDataHisMapper">
    <resultMap id="ObjDataHisResultMap" type="org.zmz.security.model.dataopen.ObjDataHis">
        <id column="version_id" property="versionId"/>
        <result column="data_id" property="dataId"/>
        <result column="data_type" property="dataType"/>
        <result column="version" property="version"/>
        <result column="history_create_time" property="historyCreateTime"/>
        <result column="create_staff" property="createStaff"/>
        <result column="create_staff_name" property="createStaffName"/>
        <result column="json" property="json"/>
    </resultMap>

    <sql id="ObjDataHisColumns">
        version_id
        ,
        data_id,
        data_type,
        version,
        history_create_time,
        create_staff,
        create_staff_name,
        json
    </sql>

    <insert id="batchInsert" parameterType="org.zmz.security.model.dataopen.ObjDataHis">
        insert into obj_data_his(version_id,
        data_id,
        data_type,
        version,
        history_create_time,
        create_staff,
        json,
        create_staff_name) values
        <foreach collection="objDataHisList" item="objDataHis" separator=",">
            (#{objDataHis.versionId},
            #{objDataHis.dataId},
            #{objDataHis.dataType},
            #{objDataHis.version},
            #{objDataHis.historyCreateTime},
            #{objDataHis.createStaff},
            #{objDataHis.json},
            #{objDataHis.createStaffName}
            )
        </foreach>
    </insert>
</mapper>