<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.mapper.DimIndexKeyRelaMapper">
  <resultMap id="BaseResultMap" type="org.zmz.model.DimIndexKeyRela">
    <id column="rela_id" jdbcType="BIGINT" property="relaId" />
    <result column="dim_index_id" jdbcType="BIGINT" property="dimIndexId" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="rela_key_object_id" jdbcType="BIGINT" property="relaKeyObjectId" />
    <result column="src_rela_id" jdbcType="BIGINT" property="srcRelaId" />
    <result column="status_cd" jdbcType="VARCHAR" property="statusCd" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rela_id, dim_index_id, table_code, rela_key_object_id, src_rela_id, status_cd, data_type
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.DimIndexKeyRelaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dim_index_key_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dim_index_key_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dim_index_key_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.DimIndexKeyRelaExample">
    delete from dim_index_key_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.DimIndexKeyRela">
    insert into dim_index_key_rela (rela_id, dim_index_id, table_code, 
      rela_key_object_id, src_rela_id, status_cd, 
      data_type)
    values (#{relaId,jdbcType=BIGINT}, #{dimIndexId,jdbcType=BIGINT}, #{tableCode,jdbcType=VARCHAR}, 
      #{relaKeyObjectId,jdbcType=BIGINT}, #{srcRelaId,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.DimIndexKeyRela">
    insert into dim_index_key_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        rela_id,
      </if>
      <if test="dimIndexId != null">
        dim_index_id,
      </if>
      <if test="tableCode != null">
        table_code,
      </if>
      <if test="relaKeyObjectId != null">
        rela_key_object_id,
      </if>
      <if test="srcRelaId != null">
        src_rela_id,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        #{relaId,jdbcType=BIGINT},
      </if>
      <if test="dimIndexId != null">
        #{dimIndexId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="relaKeyObjectId != null">
        #{relaKeyObjectId,jdbcType=BIGINT},
      </if>
      <if test="srcRelaId != null">
        #{srcRelaId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.DimIndexKeyRelaExample" resultType="java.lang.Long">
    select count(*) from dim_index_key_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dim_index_key_rela
    <set>
      <if test="row.relaId != null">
        rela_id = #{row.relaId,jdbcType=BIGINT},
      </if>
      <if test="row.dimIndexId != null">
        dim_index_id = #{row.dimIndexId,jdbcType=BIGINT},
      </if>
      <if test="row.tableCode != null">
        table_code = #{row.tableCode,jdbcType=VARCHAR},
      </if>
      <if test="row.relaKeyObjectId != null">
        rela_key_object_id = #{row.relaKeyObjectId,jdbcType=BIGINT},
      </if>
      <if test="row.srcRelaId != null">
        src_rela_id = #{row.srcRelaId,jdbcType=BIGINT},
      </if>
      <if test="row.statusCd != null">
        status_cd = #{row.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="row.dataType != null">
        data_type = #{row.dataType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dim_index_key_rela
    set rela_id = #{row.relaId,jdbcType=BIGINT},
      dim_index_id = #{row.dimIndexId,jdbcType=BIGINT},
      table_code = #{row.tableCode,jdbcType=VARCHAR},
      rela_key_object_id = #{row.relaKeyObjectId,jdbcType=BIGINT},
      src_rela_id = #{row.srcRelaId,jdbcType=BIGINT},
      status_cd = #{row.statusCd,jdbcType=VARCHAR},
      data_type = #{row.dataType,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.DimIndexKeyRela">
    update dim_index_key_rela
    <set>
      <if test="dimIndexId != null">
        dim_index_id = #{dimIndexId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="relaKeyObjectId != null">
        rela_key_object_id = #{relaKeyObjectId,jdbcType=BIGINT},
      </if>
      <if test="srcRelaId != null">
        src_rela_id = #{srcRelaId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
    </set>
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.DimIndexKeyRela">
    update dim_index_key_rela
    set dim_index_id = #{dimIndexId,jdbcType=BIGINT},
      table_code = #{tableCode,jdbcType=VARCHAR},
      rela_key_object_id = #{relaKeyObjectId,jdbcType=BIGINT},
      src_rela_id = #{srcRelaId,jdbcType=BIGINT},
      status_cd = #{statusCd,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR}
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="org.zmz.model.DimIndexKeyRela">
    <id column="rela_id" jdbcType="BIGINT" property="relaId" />
    <result column="dim_index_id" jdbcType="BIGINT" property="dimIndexId" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="rela_key_object_id" jdbcType="BIGINT" property="relaKeyObjectId" />
    <result column="src_rela_id" jdbcType="BIGINT" property="srcRelaId" />
    <result column="status_cd" jdbcType="VARCHAR" property="statusCd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rela_id, dim_index_id, table_code, rela_key_object_id, src_rela_id, status_cd
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.DimIndexKeyRelaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dim_index_key_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dim_index_key_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dim_index_key_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.DimIndexKeyRelaExample">
    delete from dim_index_key_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.DimIndexKeyRela">
    insert into dim_index_key_rela (rela_id, dim_index_id, table_code, 
      rela_key_object_id, src_rela_id, status_cd
      )
    values (#{relaId,jdbcType=BIGINT}, #{dimIndexId,jdbcType=BIGINT}, #{tableCode,jdbcType=VARCHAR}, 
      #{relaKeyObjectId,jdbcType=BIGINT}, #{srcRelaId,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.DimIndexKeyRela">
    insert into dim_index_key_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        rela_id,
      </if>
      <if test="dimIndexId != null">
        dim_index_id,
      </if>
      <if test="tableCode != null">
        table_code,
      </if>
      <if test="relaKeyObjectId != null">
        rela_key_object_id,
      </if>
      <if test="srcRelaId != null">
        src_rela_id,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        #{relaId,jdbcType=BIGINT},
      </if>
      <if test="dimIndexId != null">
        #{dimIndexId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="relaKeyObjectId != null">
        #{relaKeyObjectId,jdbcType=BIGINT},
      </if>
      <if test="srcRelaId != null">
        #{srcRelaId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.DimIndexKeyRelaExample" resultType="java.lang.Long">
    select count(*) from dim_index_key_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dim_index_key_rela
    <set>
      <if test="row.relaId != null">
        rela_id = #{row.relaId,jdbcType=BIGINT},
      </if>
      <if test="row.dimIndexId != null">
        dim_index_id = #{row.dimIndexId,jdbcType=BIGINT},
      </if>
      <if test="row.tableCode != null">
        table_code = #{row.tableCode,jdbcType=VARCHAR},
      </if>
      <if test="row.relaKeyObjectId != null">
        rela_key_object_id = #{row.relaKeyObjectId,jdbcType=BIGINT},
      </if>
      <if test="row.srcRelaId != null">
        src_rela_id = #{row.srcRelaId,jdbcType=BIGINT},
      </if>
      <if test="row.statusCd != null">
        status_cd = #{row.statusCd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dim_index_key_rela
    set rela_id = #{row.relaId,jdbcType=BIGINT},
      dim_index_id = #{row.dimIndexId,jdbcType=BIGINT},
      table_code = #{row.tableCode,jdbcType=VARCHAR},
      rela_key_object_id = #{row.relaKeyObjectId,jdbcType=BIGINT},
      src_rela_id = #{row.srcRelaId,jdbcType=BIGINT},
      status_cd = #{row.statusCd,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.DimIndexKeyRela">
    update dim_index_key_rela
    <set>
      <if test="dimIndexId != null">
        dim_index_id = #{dimIndexId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="relaKeyObjectId != null">
        rela_key_object_id = #{relaKeyObjectId,jdbcType=BIGINT},
      </if>
      <if test="srcRelaId != null">
        src_rela_id = #{srcRelaId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=VARCHAR},
      </if>
    </set>
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.DimIndexKeyRela">
    update dim_index_key_rela
    set dim_index_id = #{dimIndexId,jdbcType=BIGINT},
      table_code = #{tableCode,jdbcType=VARCHAR},
      rela_key_object_id = #{relaKeyObjectId,jdbcType=BIGINT},
      src_rela_id = #{srcRelaId,jdbcType=BIGINT},
      status_cd = #{statusCd,jdbcType=VARCHAR}
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
</mapper>