<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.mapper.DopUserFavorLogMapper">
  <resultMap id="BaseResultMap" type="org.zmz.model.DopUserFavorLog">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="favorite_date" jdbcType="TIMESTAMP" property="favoriteDate" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="cancel_date" jdbcType="TIMESTAMP" property="cancelDate" />
    <result column="status_cd" jdbcType="VARCHAR" property="statusCd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    log_id, data_id, data_type, favorite_date, user_id, cancel_date, status_cd
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.DopUserFavorLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dop_user_favor_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dop_user_favor_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dop_user_favor_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.DopUserFavorLogExample">
    delete from dop_user_favor_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.DopUserFavorLog">
    insert into dop_user_favor_log (log_id, data_id, data_type, 
      favorite_date, user_id, cancel_date, 
      status_cd)
    values (#{logId,jdbcType=BIGINT}, #{dataId,jdbcType=BIGINT}, #{dataType,jdbcType=VARCHAR}, 
      #{favoriteDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{cancelDate,jdbcType=TIMESTAMP}, 
      #{statusCd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.DopUserFavorLog">
    insert into dop_user_favor_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="favoriteDate != null">
        favorite_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cancelDate != null">
        cancel_date,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="favoriteDate != null">
        #{favoriteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="cancelDate != null">
        #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.DopUserFavorLogExample" resultType="java.lang.Long">
    select count(*) from dop_user_favor_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dop_user_favor_log
    <set>
      <if test="row.logId != null">
        log_id = #{row.logId,jdbcType=BIGINT},
      </if>
      <if test="row.dataId != null">
        data_id = #{row.dataId,jdbcType=BIGINT},
      </if>
      <if test="row.dataType != null">
        data_type = #{row.dataType,jdbcType=VARCHAR},
      </if>
      <if test="row.favoriteDate != null">
        favorite_date = #{row.favoriteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=BIGINT},
      </if>
      <if test="row.cancelDate != null">
        cancel_date = #{row.cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.statusCd != null">
        status_cd = #{row.statusCd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dop_user_favor_log
    set log_id = #{row.logId,jdbcType=BIGINT},
      data_id = #{row.dataId,jdbcType=BIGINT},
      data_type = #{row.dataType,jdbcType=VARCHAR},
      favorite_date = #{row.favoriteDate,jdbcType=TIMESTAMP},
      user_id = #{row.userId,jdbcType=BIGINT},
      cancel_date = #{row.cancelDate,jdbcType=TIMESTAMP},
      status_cd = #{row.statusCd,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.DopUserFavorLog">
    update dop_user_favor_log
    <set>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="favoriteDate != null">
        favorite_date = #{favoriteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="cancelDate != null">
        cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.DopUserFavorLog">
    update dop_user_favor_log
    set data_id = #{dataId,jdbcType=BIGINT},
      data_type = #{dataType,jdbcType=VARCHAR},
      favorite_date = #{favoriteDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      status_cd = #{statusCd,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="org.zmz.model.DopUserFavorLog">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="favorite_date" jdbcType="TIMESTAMP" property="favoriteDate" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="cancel_date" jdbcType="TIMESTAMP" property="cancelDate" />
    <result column="status_cd" jdbcType="VARCHAR" property="statusCd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    log_id, data_id, data_type, favorite_date, user_id, cancel_date, status_cd
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.DopUserFavorLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dop_user_favor_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dop_user_favor_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dop_user_favor_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.DopUserFavorLogExample">
    delete from dop_user_favor_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.DopUserFavorLog">
    insert into dop_user_favor_log (log_id, data_id, data_type, 
      favorite_date, user_id, cancel_date, 
      status_cd)
    values (#{logId,jdbcType=BIGINT}, #{dataId,jdbcType=BIGINT}, #{dataType,jdbcType=VARCHAR}, 
      #{favoriteDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{cancelDate,jdbcType=TIMESTAMP}, 
      #{statusCd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.DopUserFavorLog">
    insert into dop_user_favor_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="favoriteDate != null">
        favorite_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cancelDate != null">
        cancel_date,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="favoriteDate != null">
        #{favoriteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="cancelDate != null">
        #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.DopUserFavorLogExample" resultType="java.lang.Long">
    select count(*) from dop_user_favor_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dop_user_favor_log
    <set>
      <if test="row.logId != null">
        log_id = #{row.logId,jdbcType=BIGINT},
      </if>
      <if test="row.dataId != null">
        data_id = #{row.dataId,jdbcType=BIGINT},
      </if>
      <if test="row.dataType != null">
        data_type = #{row.dataType,jdbcType=VARCHAR},
      </if>
      <if test="row.favoriteDate != null">
        favorite_date = #{row.favoriteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=BIGINT},
      </if>
      <if test="row.cancelDate != null">
        cancel_date = #{row.cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.statusCd != null">
        status_cd = #{row.statusCd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dop_user_favor_log
    set log_id = #{row.logId,jdbcType=BIGINT},
      data_id = #{row.dataId,jdbcType=BIGINT},
      data_type = #{row.dataType,jdbcType=VARCHAR},
      favorite_date = #{row.favoriteDate,jdbcType=TIMESTAMP},
      user_id = #{row.userId,jdbcType=BIGINT},
      cancel_date = #{row.cancelDate,jdbcType=TIMESTAMP},
      status_cd = #{row.statusCd,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.DopUserFavorLog">
    update dop_user_favor_log
    <set>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="favoriteDate != null">
        favorite_date = #{favoriteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="cancelDate != null">
        cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.DopUserFavorLog">
    update dop_user_favor_log
    set data_id = #{dataId,jdbcType=BIGINT},
      data_type = #{dataType,jdbcType=VARCHAR},
      favorite_date = #{favoriteDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      status_cd = #{statusCd,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>