<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.mapper.ObjInfoMapper">
  <resultMap id="BaseResultMap" type="org.zmz.model.ObjInfo">
    <id column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="grp_id" jdbcType="BIGINT" property="grpId" />
    <result column="object_code" jdbcType="VARCHAR" property="objectCode" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="primary_key" jdbcType="BIGINT" property="primaryKey" />
    <result column="meta_table_id" jdbcType="BIGINT" property="metaTableId" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="status_cd" jdbcType="VARCHAR" property="statusCd" />
    <result column="layer" jdbcType="VARCHAR" property="layer" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="create_type" jdbcType="VARCHAR" property="createType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="oper_id" jdbcType="BIGINT" property="operId" />
    <result column="com_acct_id" jdbcType="BIGINT" property="comAcctId" />
    <result column="dir_id" jdbcType="BIGINT" property="dirId" />
    <result column="datasource_id" jdbcType="BIGINT" property="datasourceId" />
    <result column="table_type" jdbcType="VARCHAR" property="tableType" />
    <result column="primary_keys" jdbcType="VARCHAR" property="primaryKeys" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    object_id, parent_id, grp_id, object_code, object_name, primary_key, meta_table_id, 
    table_code, status_cd, layer, domain, comments, create_type, create_date, oper_id, 
    com_acct_id, dir_id, datasource_id, table_type, primary_keys
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.ObjInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from obj_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_info
    where object_id = #{objectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from obj_info
    where object_id = #{objectId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.ObjInfoExample">
    delete from obj_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.ObjInfo">
    insert into obj_info (object_id, parent_id, grp_id, 
      object_code, object_name, primary_key, 
      meta_table_id, table_code, status_cd, 
      layer, domain, comments, 
      create_type, create_date, oper_id, 
      com_acct_id, dir_id, datasource_id, 
      table_type, primary_keys)
    values (#{objectId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{grpId,jdbcType=BIGINT}, 
      #{objectCode,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{primaryKey,jdbcType=BIGINT}, 
      #{metaTableId,jdbcType=BIGINT}, #{tableCode,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, 
      #{layer,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, 
      #{createType,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{operId,jdbcType=BIGINT}, 
      #{comAcctId,jdbcType=BIGINT}, #{dirId,jdbcType=BIGINT}, #{datasourceId,jdbcType=BIGINT}, 
      #{tableType,jdbcType=VARCHAR}, #{primaryKeys,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.ObjInfo">
    insert into obj_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectId != null">
        object_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="grpId != null">
        grp_id,
      </if>
      <if test="objectCode != null">
        object_code,
      </if>
      <if test="objectName != null">
        object_name,
      </if>
      <if test="primaryKey != null">
        primary_key,
      </if>
      <if test="metaTableId != null">
        meta_table_id,
      </if>
      <if test="tableCode != null">
        table_code,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="layer != null">
        layer,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="createType != null">
        create_type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="operId != null">
        oper_id,
      </if>
      <if test="comAcctId != null">
        com_acct_id,
      </if>
      <if test="dirId != null">
        dir_id,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="tableType != null">
        table_type,
      </if>
      <if test="primaryKeys != null">
        primary_keys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectId != null">
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="grpId != null">
        #{grpId,jdbcType=BIGINT},
      </if>
      <if test="objectCode != null">
        #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        #{primaryKey,jdbcType=BIGINT},
      </if>
      <if test="metaTableId != null">
        #{metaTableId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createType != null">
        #{createType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null">
        #{operId,jdbcType=BIGINT},
      </if>
      <if test="comAcctId != null">
        #{comAcctId,jdbcType=BIGINT},
      </if>
      <if test="dirId != null">
        #{dirId,jdbcType=BIGINT},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="tableType != null">
        #{tableType,jdbcType=VARCHAR},
      </if>
      <if test="primaryKeys != null">
        #{primaryKeys,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.ObjInfoExample" resultType="java.lang.Long">
    select count(*) from obj_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update obj_info
    <set>
      <if test="row.objectId != null">
        object_id = #{row.objectId,jdbcType=BIGINT},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=BIGINT},
      </if>
      <if test="row.grpId != null">
        grp_id = #{row.grpId,jdbcType=BIGINT},
      </if>
      <if test="row.objectCode != null">
        object_code = #{row.objectCode,jdbcType=VARCHAR},
      </if>
      <if test="row.objectName != null">
        object_name = #{row.objectName,jdbcType=VARCHAR},
      </if>
      <if test="row.primaryKey != null">
        primary_key = #{row.primaryKey,jdbcType=BIGINT},
      </if>
      <if test="row.metaTableId != null">
        meta_table_id = #{row.metaTableId,jdbcType=BIGINT},
      </if>
      <if test="row.tableCode != null">
        table_code = #{row.tableCode,jdbcType=VARCHAR},
      </if>
      <if test="row.statusCd != null">
        status_cd = #{row.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="row.layer != null">
        layer = #{row.layer,jdbcType=VARCHAR},
      </if>
      <if test="row.domain != null">
        domain = #{row.domain,jdbcType=VARCHAR},
      </if>
      <if test="row.comments != null">
        comments = #{row.comments,jdbcType=VARCHAR},
      </if>
      <if test="row.createType != null">
        create_type = #{row.createType,jdbcType=VARCHAR},
      </if>
      <if test="row.createDate != null">
        create_date = #{row.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.operId != null">
        oper_id = #{row.operId,jdbcType=BIGINT},
      </if>
      <if test="row.comAcctId != null">
        com_acct_id = #{row.comAcctId,jdbcType=BIGINT},
      </if>
      <if test="row.dirId != null">
        dir_id = #{row.dirId,jdbcType=BIGINT},
      </if>
      <if test="row.datasourceId != null">
        datasource_id = #{row.datasourceId,jdbcType=BIGINT},
      </if>
      <if test="row.tableType != null">
        table_type = #{row.tableType,jdbcType=VARCHAR},
      </if>
      <if test="row.primaryKeys != null">
        primary_keys = #{row.primaryKeys,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update obj_info
    set object_id = #{row.objectId,jdbcType=BIGINT},
      parent_id = #{row.parentId,jdbcType=BIGINT},
      grp_id = #{row.grpId,jdbcType=BIGINT},
      object_code = #{row.objectCode,jdbcType=VARCHAR},
      object_name = #{row.objectName,jdbcType=VARCHAR},
      primary_key = #{row.primaryKey,jdbcType=BIGINT},
      meta_table_id = #{row.metaTableId,jdbcType=BIGINT},
      table_code = #{row.tableCode,jdbcType=VARCHAR},
      status_cd = #{row.statusCd,jdbcType=VARCHAR},
      layer = #{row.layer,jdbcType=VARCHAR},
      domain = #{row.domain,jdbcType=VARCHAR},
      comments = #{row.comments,jdbcType=VARCHAR},
      create_type = #{row.createType,jdbcType=VARCHAR},
      create_date = #{row.createDate,jdbcType=TIMESTAMP},
      oper_id = #{row.operId,jdbcType=BIGINT},
      com_acct_id = #{row.comAcctId,jdbcType=BIGINT},
      dir_id = #{row.dirId,jdbcType=BIGINT},
      datasource_id = #{row.datasourceId,jdbcType=BIGINT},
      table_type = #{row.tableType,jdbcType=VARCHAR},
      primary_keys = #{row.primaryKeys,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.ObjInfo">
    update obj_info
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="grpId != null">
        grp_id = #{grpId,jdbcType=BIGINT},
      </if>
      <if test="objectCode != null">
        object_code = #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        primary_key = #{primaryKey,jdbcType=BIGINT},
      </if>
      <if test="metaTableId != null">
        meta_table_id = #{metaTableId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createType != null">
        create_type = #{createType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null">
        oper_id = #{operId,jdbcType=BIGINT},
      </if>
      <if test="comAcctId != null">
        com_acct_id = #{comAcctId,jdbcType=BIGINT},
      </if>
      <if test="dirId != null">
        dir_id = #{dirId,jdbcType=BIGINT},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="tableType != null">
        table_type = #{tableType,jdbcType=VARCHAR},
      </if>
      <if test="primaryKeys != null">
        primary_keys = #{primaryKeys,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.ObjInfo">
    update obj_info
    set parent_id = #{parentId,jdbcType=BIGINT},
      grp_id = #{grpId,jdbcType=BIGINT},
      object_code = #{objectCode,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      primary_key = #{primaryKey,jdbcType=BIGINT},
      meta_table_id = #{metaTableId,jdbcType=BIGINT},
      table_code = #{tableCode,jdbcType=VARCHAR},
      status_cd = #{statusCd,jdbcType=VARCHAR},
      layer = #{layer,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      create_type = #{createType,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      oper_id = #{operId,jdbcType=BIGINT},
      com_acct_id = #{comAcctId,jdbcType=BIGINT},
      dir_id = #{dirId,jdbcType=BIGINT},
      datasource_id = #{datasourceId,jdbcType=BIGINT},
      table_type = #{tableType,jdbcType=VARCHAR},
      primary_keys = #{primaryKeys,jdbcType=VARCHAR}
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="org.zmz.model.ObjInfo">
    <id column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="grp_id" jdbcType="BIGINT" property="grpId" />
    <result column="object_code" jdbcType="VARCHAR" property="objectCode" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="primary_key" jdbcType="VARCHAR" property="primaryKey" />
    <result column="meta_table_id" jdbcType="BIGINT" property="metaTableId" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="status_cd" jdbcType="VARCHAR" property="statusCd" />
    <result column="layer" jdbcType="VARCHAR" property="layer" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="create_type" jdbcType="VARCHAR" property="createType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="oper_id" jdbcType="BIGINT" property="operId" />
    <result column="com_acct_id" jdbcType="BIGINT" property="comAcctId" />
    <result column="dir_id" jdbcType="BIGINT" property="dirId" />
    <result column="datasource_id" jdbcType="BIGINT" property="datasourceId" />
    <result column="table_type" jdbcType="VARCHAR" property="tableType" />
    <result column="data_cnt_type" jdbcType="VARCHAR" property="dataCntType" />
    <result column="object_alias" jdbcType="VARCHAR" property="objectAlias" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="key_code" jdbcType="VARCHAR" property="keyCode" />
    <result column="order_no" jdbcType="BIGINT" property="orderNo" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    object_id, parent_id, grp_id, object_code, object_name, primary_key, meta_table_id, 
    table_code, status_cd, layer, domain, comments, create_type, create_date, oper_id, 
    com_acct_id, dir_id, datasource_id, table_type, data_cnt_type, object_alias, project_id, 
    key_code, order_no, version
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.ObjInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from obj_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_info
    where object_id = #{objectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from obj_info
    where object_id = #{objectId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.ObjInfoExample">
    delete from obj_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.ObjInfo">
    insert into obj_info (object_id, parent_id, grp_id, 
      object_code, object_name, primary_key, 
      meta_table_id, table_code, status_cd, 
      layer, domain, comments, 
      create_type, create_date, oper_id, 
      com_acct_id, dir_id, datasource_id, 
      table_type, data_cnt_type, object_alias, 
      project_id, key_code, order_no, 
      version)
    values (#{objectId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{grpId,jdbcType=BIGINT}, 
      #{objectCode,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{primaryKey,jdbcType=VARCHAR}, 
      #{metaTableId,jdbcType=BIGINT}, #{tableCode,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, 
      #{layer,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, 
      #{createType,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{operId,jdbcType=BIGINT}, 
      #{comAcctId,jdbcType=BIGINT}, #{dirId,jdbcType=BIGINT}, #{datasourceId,jdbcType=BIGINT}, 
      #{tableType,jdbcType=VARCHAR}, #{dataCntType,jdbcType=VARCHAR}, #{objectAlias,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=BIGINT}, #{keyCode,jdbcType=VARCHAR}, #{orderNo,jdbcType=BIGINT}, 
      #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.ObjInfo">
    insert into obj_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectId != null">
        object_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="grpId != null">
        grp_id,
      </if>
      <if test="objectCode != null">
        object_code,
      </if>
      <if test="objectName != null">
        object_name,
      </if>
      <if test="primaryKey != null">
        primary_key,
      </if>
      <if test="metaTableId != null">
        meta_table_id,
      </if>
      <if test="tableCode != null">
        table_code,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="layer != null">
        layer,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="createType != null">
        create_type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="operId != null">
        oper_id,
      </if>
      <if test="comAcctId != null">
        com_acct_id,
      </if>
      <if test="dirId != null">
        dir_id,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="tableType != null">
        table_type,
      </if>
      <if test="dataCntType != null">
        data_cnt_type,
      </if>
      <if test="objectAlias != null">
        object_alias,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="keyCode != null">
        key_code,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectId != null">
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="grpId != null">
        #{grpId,jdbcType=BIGINT},
      </if>
      <if test="objectCode != null">
        #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="metaTableId != null">
        #{metaTableId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createType != null">
        #{createType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null">
        #{operId,jdbcType=BIGINT},
      </if>
      <if test="comAcctId != null">
        #{comAcctId,jdbcType=BIGINT},
      </if>
      <if test="dirId != null">
        #{dirId,jdbcType=BIGINT},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="tableType != null">
        #{tableType,jdbcType=VARCHAR},
      </if>
      <if test="dataCntType != null">
        #{dataCntType,jdbcType=VARCHAR},
      </if>
      <if test="objectAlias != null">
        #{objectAlias,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="keyCode != null">
        #{keyCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.ObjInfoExample" resultType="java.lang.Long">
    select count(*) from obj_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update obj_info
    <set>
      <if test="row.objectId != null">
        object_id = #{row.objectId,jdbcType=BIGINT},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=BIGINT},
      </if>
      <if test="row.grpId != null">
        grp_id = #{row.grpId,jdbcType=BIGINT},
      </if>
      <if test="row.objectCode != null">
        object_code = #{row.objectCode,jdbcType=VARCHAR},
      </if>
      <if test="row.objectName != null">
        object_name = #{row.objectName,jdbcType=VARCHAR},
      </if>
      <if test="row.primaryKey != null">
        primary_key = #{row.primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="row.metaTableId != null">
        meta_table_id = #{row.metaTableId,jdbcType=BIGINT},
      </if>
      <if test="row.tableCode != null">
        table_code = #{row.tableCode,jdbcType=VARCHAR},
      </if>
      <if test="row.statusCd != null">
        status_cd = #{row.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="row.layer != null">
        layer = #{row.layer,jdbcType=VARCHAR},
      </if>
      <if test="row.domain != null">
        domain = #{row.domain,jdbcType=VARCHAR},
      </if>
      <if test="row.comments != null">
        comments = #{row.comments,jdbcType=VARCHAR},
      </if>
      <if test="row.createType != null">
        create_type = #{row.createType,jdbcType=VARCHAR},
      </if>
      <if test="row.createDate != null">
        create_date = #{row.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.operId != null">
        oper_id = #{row.operId,jdbcType=BIGINT},
      </if>
      <if test="row.comAcctId != null">
        com_acct_id = #{row.comAcctId,jdbcType=BIGINT},
      </if>
      <if test="row.dirId != null">
        dir_id = #{row.dirId,jdbcType=BIGINT},
      </if>
      <if test="row.datasourceId != null">
        datasource_id = #{row.datasourceId,jdbcType=BIGINT},
      </if>
      <if test="row.tableType != null">
        table_type = #{row.tableType,jdbcType=VARCHAR},
      </if>
      <if test="row.dataCntType != null">
        data_cnt_type = #{row.dataCntType,jdbcType=VARCHAR},
      </if>
      <if test="row.objectAlias != null">
        object_alias = #{row.objectAlias,jdbcType=VARCHAR},
      </if>
      <if test="row.projectId != null">
        project_id = #{row.projectId,jdbcType=BIGINT},
      </if>
      <if test="row.keyCode != null">
        key_code = #{row.keyCode,jdbcType=VARCHAR},
      </if>
      <if test="row.orderNo != null">
        order_no = #{row.orderNo,jdbcType=BIGINT},
      </if>
      <if test="row.version != null">
        version = #{row.version,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update obj_info
    set object_id = #{row.objectId,jdbcType=BIGINT},
      parent_id = #{row.parentId,jdbcType=BIGINT},
      grp_id = #{row.grpId,jdbcType=BIGINT},
      object_code = #{row.objectCode,jdbcType=VARCHAR},
      object_name = #{row.objectName,jdbcType=VARCHAR},
      primary_key = #{row.primaryKey,jdbcType=VARCHAR},
      meta_table_id = #{row.metaTableId,jdbcType=BIGINT},
      table_code = #{row.tableCode,jdbcType=VARCHAR},
      status_cd = #{row.statusCd,jdbcType=VARCHAR},
      layer = #{row.layer,jdbcType=VARCHAR},
      domain = #{row.domain,jdbcType=VARCHAR},
      comments = #{row.comments,jdbcType=VARCHAR},
      create_type = #{row.createType,jdbcType=VARCHAR},
      create_date = #{row.createDate,jdbcType=TIMESTAMP},
      oper_id = #{row.operId,jdbcType=BIGINT},
      com_acct_id = #{row.comAcctId,jdbcType=BIGINT},
      dir_id = #{row.dirId,jdbcType=BIGINT},
      datasource_id = #{row.datasourceId,jdbcType=BIGINT},
      table_type = #{row.tableType,jdbcType=VARCHAR},
      data_cnt_type = #{row.dataCntType,jdbcType=VARCHAR},
      object_alias = #{row.objectAlias,jdbcType=VARCHAR},
      project_id = #{row.projectId,jdbcType=BIGINT},
      key_code = #{row.keyCode,jdbcType=VARCHAR},
      order_no = #{row.orderNo,jdbcType=BIGINT},
      version = #{row.version,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.ObjInfo">
    update obj_info
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="grpId != null">
        grp_id = #{grpId,jdbcType=BIGINT},
      </if>
      <if test="objectCode != null">
        object_code = #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        primary_key = #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="metaTableId != null">
        meta_table_id = #{metaTableId,jdbcType=BIGINT},
      </if>
      <if test="tableCode != null">
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createType != null">
        create_type = #{createType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null">
        oper_id = #{operId,jdbcType=BIGINT},
      </if>
      <if test="comAcctId != null">
        com_acct_id = #{comAcctId,jdbcType=BIGINT},
      </if>
      <if test="dirId != null">
        dir_id = #{dirId,jdbcType=BIGINT},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="tableType != null">
        table_type = #{tableType,jdbcType=VARCHAR},
      </if>
      <if test="dataCntType != null">
        data_cnt_type = #{dataCntType,jdbcType=VARCHAR},
      </if>
      <if test="objectAlias != null">
        object_alias = #{objectAlias,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="keyCode != null">
        key_code = #{keyCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.ObjInfo">
    update obj_info
    set parent_id = #{parentId,jdbcType=BIGINT},
      grp_id = #{grpId,jdbcType=BIGINT},
      object_code = #{objectCode,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      primary_key = #{primaryKey,jdbcType=VARCHAR},
      meta_table_id = #{metaTableId,jdbcType=BIGINT},
      table_code = #{tableCode,jdbcType=VARCHAR},
      status_cd = #{statusCd,jdbcType=VARCHAR},
      layer = #{layer,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      create_type = #{createType,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      oper_id = #{operId,jdbcType=BIGINT},
      com_acct_id = #{comAcctId,jdbcType=BIGINT},
      dir_id = #{dirId,jdbcType=BIGINT},
      datasource_id = #{datasourceId,jdbcType=BIGINT},
      table_type = #{tableType,jdbcType=VARCHAR},
      data_cnt_type = #{dataCntType,jdbcType=VARCHAR},
      object_alias = #{objectAlias,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      key_code = #{keyCode,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=BIGINT},
      version = #{version,jdbcType=VARCHAR}
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>
</mapper>