<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.mapper.ObjKeyColumnRelaMapper">
  <resultMap id="BaseResultMap" type="org.zmz.model.ObjKeyColumnRela">
    <id column="rela_id" jdbcType="BIGINT" property="relaId" />
    <result column="parent_rela_id" jdbcType="BIGINT" property="parentRelaId" />
    <result column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="column_code" jdbcType="VARCHAR" property="columnCode" />
    <result column="column_id" jdbcType="BIGINT" property="columnId" />
    <result column="rela_column_id" jdbcType="BIGINT" property="relaColumnId" />
    <result column="rela_column_code" jdbcType="VARCHAR" property="relaColumnCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rela_id, parent_rela_id, object_id, column_code, column_id, rela_column_id, rela_column_code
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample">
    delete from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela (rela_id, parent_rela_id, object_id, 
      column_code, column_id, rela_column_id, 
      rela_column_code)
    values (#{relaId,jdbcType=BIGINT}, #{parentRelaId,jdbcType=BIGINT}, #{objectId,jdbcType=BIGINT}, 
      #{columnCode,jdbcType=VARCHAR}, #{columnId,jdbcType=BIGINT}, #{relaColumnId,jdbcType=BIGINT}, 
      #{relaColumnCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        rela_id,
      </if>
      <if test="parentRelaId != null">
        parent_rela_id,
      </if>
      <if test="objectId != null">
        object_id,
      </if>
      <if test="columnCode != null">
        column_code,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="relaColumnId != null">
        rela_column_id,
      </if>
      <if test="relaColumnCode != null">
        rela_column_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        #{relaId,jdbcType=BIGINT},
      </if>
      <if test="parentRelaId != null">
        #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        #{relaColumnCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultType="java.lang.Long">
    select count(*) from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update obj_key_column_rela
    <set>
      <if test="row.relaId != null">
        rela_id = #{row.relaId,jdbcType=BIGINT},
      </if>
      <if test="row.parentRelaId != null">
        parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="row.objectId != null">
        object_id = #{row.objectId,jdbcType=BIGINT},
      </if>
      <if test="row.columnCode != null">
        column_code = #{row.columnCode,jdbcType=VARCHAR},
      </if>
      <if test="row.columnId != null">
        column_id = #{row.columnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnId != null">
        rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnCode != null">
        rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update obj_key_column_rela
    set rela_id = #{row.relaId,jdbcType=BIGINT},
      parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      object_id = #{row.objectId,jdbcType=BIGINT},
      column_code = #{row.columnCode,jdbcType=VARCHAR},
      column_id = #{row.columnId,jdbcType=BIGINT},
      rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    <set>
      <if test="parentRelaId != null">
        parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        object_id = #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        column_code = #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        rela_column_code = #{relaColumnCode,jdbcType=VARCHAR},
      </if>
    </set>
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    set parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      object_id = #{objectId,jdbcType=BIGINT},
      column_code = #{columnCode,jdbcType=VARCHAR},
      column_id = #{columnId,jdbcType=BIGINT},
      rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{relaColumnCode,jdbcType=VARCHAR}
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="org.zmz.model.ObjKeyColumnRela">
    <id column="rela_id" jdbcType="BIGINT" property="relaId" />
    <result column="parent_rela_id" jdbcType="BIGINT" property="parentRelaId" />
    <result column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="column_code" jdbcType="VARCHAR" property="columnCode" />
    <result column="column_id" jdbcType="BIGINT" property="columnId" />
    <result column="rela_column_id" jdbcType="BIGINT" property="relaColumnId" />
    <result column="rela_column_code" jdbcType="VARCHAR" property="relaColumnCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rela_id, parent_rela_id, object_id, column_code, column_id, rela_column_id, rela_column_code
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample">
    delete from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela (rela_id, parent_rela_id, object_id, 
      column_code, column_id, rela_column_id, 
      rela_column_code)
    values (#{relaId,jdbcType=BIGINT}, #{parentRelaId,jdbcType=BIGINT}, #{objectId,jdbcType=BIGINT}, 
      #{columnCode,jdbcType=VARCHAR}, #{columnId,jdbcType=BIGINT}, #{relaColumnId,jdbcType=BIGINT}, 
      #{relaColumnCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        rela_id,
      </if>
      <if test="parentRelaId != null">
        parent_rela_id,
      </if>
      <if test="objectId != null">
        object_id,
      </if>
      <if test="columnCode != null">
        column_code,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="relaColumnId != null">
        rela_column_id,
      </if>
      <if test="relaColumnCode != null">
        rela_column_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        #{relaId,jdbcType=BIGINT},
      </if>
      <if test="parentRelaId != null">
        #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        #{relaColumnCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultType="java.lang.Long">
    select count(*) from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update obj_key_column_rela
    <set>
      <if test="row.relaId != null">
        rela_id = #{row.relaId,jdbcType=BIGINT},
      </if>
      <if test="row.parentRelaId != null">
        parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="row.objectId != null">
        object_id = #{row.objectId,jdbcType=BIGINT},
      </if>
      <if test="row.columnCode != null">
        column_code = #{row.columnCode,jdbcType=VARCHAR},
      </if>
      <if test="row.columnId != null">
        column_id = #{row.columnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnId != null">
        rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnCode != null">
        rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update obj_key_column_rela
    set rela_id = #{row.relaId,jdbcType=BIGINT},
      parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      object_id = #{row.objectId,jdbcType=BIGINT},
      column_code = #{row.columnCode,jdbcType=VARCHAR},
      column_id = #{row.columnId,jdbcType=BIGINT},
      rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    <set>
      <if test="parentRelaId != null">
        parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        object_id = #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        column_code = #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        rela_column_code = #{relaColumnCode,jdbcType=VARCHAR},
      </if>
    </set>
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    set parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      object_id = #{objectId,jdbcType=BIGINT},
      column_code = #{columnCode,jdbcType=VARCHAR},
      column_id = #{columnId,jdbcType=BIGINT},
      rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{relaColumnCode,jdbcType=VARCHAR}
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="org.zmz.model.ObjKeyColumnRela">
    <id column="rela_id" jdbcType="BIGINT" property="relaId" />
    <result column="parent_rela_id" jdbcType="BIGINT" property="parentRelaId" />
    <result column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="column_code" jdbcType="VARCHAR" property="columnCode" />
    <result column="column_id" jdbcType="BIGINT" property="columnId" />
    <result column="rela_column_id" jdbcType="BIGINT" property="relaColumnId" />
    <result column="rela_column_code" jdbcType="VARCHAR" property="relaColumnCode" />
    <result column="func" jdbcType="VARCHAR" property="func" />
    <result column="rela_func" jdbcType="VARCHAR" property="relaFunc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rela_id, parent_rela_id, object_id, column_code, column_id, rela_column_id, rela_column_code, 
    func, rela_func
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample">
    delete from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela (rela_id, parent_rela_id, object_id, 
      column_code, column_id, rela_column_id, 
      rela_column_code, func, rela_func
      )
    values (#{relaId,jdbcType=BIGINT}, #{parentRelaId,jdbcType=BIGINT}, #{objectId,jdbcType=BIGINT}, 
      #{columnCode,jdbcType=VARCHAR}, #{columnId,jdbcType=BIGINT}, #{relaColumnId,jdbcType=BIGINT}, 
      #{relaColumnCode,jdbcType=VARCHAR}, #{func,jdbcType=VARCHAR}, #{relaFunc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        rela_id,
      </if>
      <if test="parentRelaId != null">
        parent_rela_id,
      </if>
      <if test="objectId != null">
        object_id,
      </if>
      <if test="columnCode != null">
        column_code,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="relaColumnId != null">
        rela_column_id,
      </if>
      <if test="relaColumnCode != null">
        rela_column_code,
      </if>
      <if test="func != null">
        func,
      </if>
      <if test="relaFunc != null">
        rela_func,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        #{relaId,jdbcType=BIGINT},
      </if>
      <if test="parentRelaId != null">
        #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        #{relaColumnCode,jdbcType=VARCHAR},
      </if>
      <if test="func != null">
        #{func,jdbcType=VARCHAR},
      </if>
      <if test="relaFunc != null">
        #{relaFunc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultType="java.lang.Long">
    select count(*) from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update obj_key_column_rela
    <set>
      <if test="row.relaId != null">
        rela_id = #{row.relaId,jdbcType=BIGINT},
      </if>
      <if test="row.parentRelaId != null">
        parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="row.objectId != null">
        object_id = #{row.objectId,jdbcType=BIGINT},
      </if>
      <if test="row.columnCode != null">
        column_code = #{row.columnCode,jdbcType=VARCHAR},
      </if>
      <if test="row.columnId != null">
        column_id = #{row.columnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnId != null">
        rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnCode != null">
        rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR},
      </if>
      <if test="row.func != null">
        func = #{row.func,jdbcType=VARCHAR},
      </if>
      <if test="row.relaFunc != null">
        rela_func = #{row.relaFunc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update obj_key_column_rela
    set rela_id = #{row.relaId,jdbcType=BIGINT},
      parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      object_id = #{row.objectId,jdbcType=BIGINT},
      column_code = #{row.columnCode,jdbcType=VARCHAR},
      column_id = #{row.columnId,jdbcType=BIGINT},
      rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR},
      func = #{row.func,jdbcType=VARCHAR},
      rela_func = #{row.relaFunc,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    <set>
      <if test="parentRelaId != null">
        parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        object_id = #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        column_code = #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        rela_column_code = #{relaColumnCode,jdbcType=VARCHAR},
      </if>
      <if test="func != null">
        func = #{func,jdbcType=VARCHAR},
      </if>
      <if test="relaFunc != null">
        rela_func = #{relaFunc,jdbcType=VARCHAR},
      </if>
    </set>
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    set parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      object_id = #{objectId,jdbcType=BIGINT},
      column_code = #{columnCode,jdbcType=VARCHAR},
      column_id = #{columnId,jdbcType=BIGINT},
      rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{relaColumnCode,jdbcType=VARCHAR},
      func = #{func,jdbcType=VARCHAR},
      rela_func = #{relaFunc,jdbcType=VARCHAR}
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="org.zmz.model.ObjKeyColumnRela">
    <id column="rela_id" jdbcType="BIGINT" property="relaId" />
    <result column="parent_rela_id" jdbcType="BIGINT" property="parentRelaId" />
    <result column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="column_code" jdbcType="VARCHAR" property="columnCode" />
    <result column="column_id" jdbcType="BIGINT" property="columnId" />
    <result column="rela_column_id" jdbcType="BIGINT" property="relaColumnId" />
    <result column="rela_column_code" jdbcType="VARCHAR" property="relaColumnCode" />
    <result column="func" jdbcType="VARCHAR" property="func" />
    <result column="rela_func" jdbcType="VARCHAR" property="relaFunc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rela_id, parent_rela_id, object_id, column_code, column_id, rela_column_id, rela_column_code, 
    func, rela_func
  </sql>
  <select id="selectByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from obj_key_column_rela
    where rela_id = #{relaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample">
    delete from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela (rela_id, parent_rela_id, object_id, 
      column_code, column_id, rela_column_id, 
      rela_column_code, func, rela_func
      )
    values (#{relaId,jdbcType=BIGINT}, #{parentRelaId,jdbcType=BIGINT}, #{objectId,jdbcType=BIGINT}, 
      #{columnCode,jdbcType=VARCHAR}, #{columnId,jdbcType=BIGINT}, #{relaColumnId,jdbcType=BIGINT}, 
      #{relaColumnCode,jdbcType=VARCHAR}, #{func,jdbcType=VARCHAR}, #{relaFunc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    insert into obj_key_column_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        rela_id,
      </if>
      <if test="parentRelaId != null">
        parent_rela_id,
      </if>
      <if test="objectId != null">
        object_id,
      </if>
      <if test="columnCode != null">
        column_code,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="relaColumnId != null">
        rela_column_id,
      </if>
      <if test="relaColumnCode != null">
        rela_column_code,
      </if>
      <if test="func != null">
        func,
      </if>
      <if test="relaFunc != null">
        rela_func,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relaId != null">
        #{relaId,jdbcType=BIGINT},
      </if>
      <if test="parentRelaId != null">
        #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        #{relaColumnCode,jdbcType=VARCHAR},
      </if>
      <if test="func != null">
        #{func,jdbcType=VARCHAR},
      </if>
      <if test="relaFunc != null">
        #{relaFunc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zmz.model.ObjKeyColumnRelaExample" resultType="java.lang.Long">
    select count(*) from obj_key_column_rela
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update obj_key_column_rela
    <set>
      <if test="row.relaId != null">
        rela_id = #{row.relaId,jdbcType=BIGINT},
      </if>
      <if test="row.parentRelaId != null">
        parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="row.objectId != null">
        object_id = #{row.objectId,jdbcType=BIGINT},
      </if>
      <if test="row.columnCode != null">
        column_code = #{row.columnCode,jdbcType=VARCHAR},
      </if>
      <if test="row.columnId != null">
        column_id = #{row.columnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnId != null">
        rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="row.relaColumnCode != null">
        rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR},
      </if>
      <if test="row.func != null">
        func = #{row.func,jdbcType=VARCHAR},
      </if>
      <if test="row.relaFunc != null">
        rela_func = #{row.relaFunc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update obj_key_column_rela
    set rela_id = #{row.relaId,jdbcType=BIGINT},
      parent_rela_id = #{row.parentRelaId,jdbcType=BIGINT},
      object_id = #{row.objectId,jdbcType=BIGINT},
      column_code = #{row.columnCode,jdbcType=VARCHAR},
      column_id = #{row.columnId,jdbcType=BIGINT},
      rela_column_id = #{row.relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{row.relaColumnCode,jdbcType=VARCHAR},
      func = #{row.func,jdbcType=VARCHAR},
      rela_func = #{row.relaFunc,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    <set>
      <if test="parentRelaId != null">
        parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        object_id = #{objectId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null">
        column_code = #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnId != null">
        rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      </if>
      <if test="relaColumnCode != null">
        rela_column_code = #{relaColumnCode,jdbcType=VARCHAR},
      </if>
      <if test="func != null">
        func = #{func,jdbcType=VARCHAR},
      </if>
      <if test="relaFunc != null">
        rela_func = #{relaFunc,jdbcType=VARCHAR},
      </if>
    </set>
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zmz.model.ObjKeyColumnRela">
    update obj_key_column_rela
    set parent_rela_id = #{parentRelaId,jdbcType=BIGINT},
      object_id = #{objectId,jdbcType=BIGINT},
      column_code = #{columnCode,jdbcType=VARCHAR},
      column_id = #{columnId,jdbcType=BIGINT},
      rela_column_id = #{relaColumnId,jdbcType=BIGINT},
      rela_column_code = #{relaColumnCode,jdbcType=VARCHAR},
      func = #{func,jdbcType=VARCHAR},
      rela_func = #{relaFunc,jdbcType=VARCHAR}
    where rela_id = #{relaId,jdbcType=BIGINT}
  </update>
</mapper>