<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.d.mapper.code01.EmployeesMapper">
    <resultMap id="BaseResultMap" type="org.zmz.d.pojo.code01.Employees">
        <id column="employee_id" jdbcType="INTEGER" property="employeeId" />
        <result column="first_name" jdbcType="VARCHAR" property="firstName" />
        <result column="last_name" jdbcType="VARCHAR" property="lastName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
        <result column="hire_date" jdbcType="DATE" property="hireDate" />
        <result column="job_id" jdbcType="VARCHAR" property="jobId" />
        <result column="salary" jdbcType="NUMERIC" property="salary" />
        <result column="commission_pct" jdbcType="NUMERIC" property="commissionPct" />
        <result column="manager_id" jdbcType="INTEGER" property="managerId" />
        <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    </resultMap>
</mapper>