<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.d.mapper.code01.JobsMapper">
    <resultMap id="BaseResultMap" type="org.zmz.d.pojo.code01.Jobs">
        <id column="job_id" jdbcType="VARCHAR" property="jobId"/>
        <result column="job_title" jdbcType="VARCHAR" property="jobTitle"/>
        <result column="min_salary" jdbcType="INTEGER" property="minSalary"/>
        <result column="max_salary" jdbcType="INTEGER" property="maxSalary"/>
    </resultMap>
</mapper>