<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.d.mapper.dev154.dataopen.IndexMapper">
    <resultMap id="IndexDtoMap" type="org.zmz.d.pojo.dev154.dto.IndexDto">
        <result column="index_name" property="indexName"/>
        <result column="index_code" property="indexCode"/>
        <result column="table_code" property="tableCode"/>
        <result column="index_type" property="indexType"/>
    </resultMap>

    <select id="unionAllProIndexAndDimIndex" resultMap="IndexDtoMap">
        SELECT DISTINCT pi.index_name,
        pi.index_code,
        pi.pro_table_code AS table_code,
        'pro_index' as index_type
        FROM dataopen.pro_index pi
        WHERE pi.index_code IS NOT NULL
        AND pi.index_name IS NOT NULL
        AND pi.pro_table_code IS NOT NULL
        AND pi.pro_table_id IN (SELECT oktr.meta_data_id
        FROM dataopen.obj_key_table_rela oktr
        WHERE oktr.rela_key_object_id IN
        <foreach collection="objectIds" item="objectId" separator="," open="(" close=")">
            #{objectId}
        </foreach>)
        UNION ALL
        SELECT DISTINCT dii.dim_index_name as index_name,
        dii.index_code,
        dii.table_code,
        'dim_index' as index_type
        FROM dataopen.dim_index_info dii
        WHERE dii.index_code IS NOT NULL
        AND dii.dim_index_name IS NOT NULL
        AND dii.table_code IS NOT NULL
        AND dii.meta_table_id IN (SELECT oktr.meta_data_id
        FROM dataopen.obj_key_table_rela oktr
        WHERE oktr.rela_key_object_id IN
        <foreach collection="objectIds" item="objectId" separator="," open="(" close=")">
            #{objectId}
        </foreach>)
    </select>
</mapper>