<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmz.d.mapper.dev154.dataopen.ProIndexMapper">

    <select id="selectProIndexIds" resultType="java.lang.Long">
        select distinct pi.index_id
        from dataopen.pro_index pi
        where pi.pro_table_id in (select distinct oktr.meta_data_id
                                  from dataopen.obj_info oi
                                     , dataopen.obj_key_table_rela oktr
                                  where oi.status_cd != '1200'
          and oktr.meta_data_id IS NOT NULL
          and oi.object_id = oktr.rela_key_object_id)
    </select>
</mapper>